* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}


body {
  background: rgb(132,97,201);
  background: linear-gradient(90deg, rgba(132,97,201,1) 0%, rgba(194,158,215,1) 100%);
}

div {
  padding: 0.25rem 0;
}
h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.4375rem;
  font-weight: 400;
  line-height: 2.875rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
  line-height: 1.375rem;
}

span {
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #3F3356;
  font-weight: 400;
}

header {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  text-align: center;
}

form {
  background-color: #ffffff;
  box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.5);
  margin: 2rem auto;
  border-radius: 0.5rem;
  padding: 2rem 1rem;
}


label,
.form-radio p,
.form-check p {
  font-size: 1rem;
  font-weight: 600;
  color: #8461C9;
  width: 100%;
  display: block;
  margin-bottom: 0.25rem;
}

input, select, textarea {
  font-size: 1rem;
  line-height: 1.5rem;
  width: 100%;
  display: block;
  border: solid 2px transparent;
  background-image: linear-gradient(white, white), 
                    linear-gradient(to right, #8461C9, #BD7AE3);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  color: #3F3356;
}





input:focus,
select:focus {
border: solid 3px #0084F4;
outline: 0;
}

.radio-buttons {
  display: flex;
  flex-direction: row;
}

.radio {
  font-size: 2.25rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.radio__input input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
  }

.radio__control  {
  width: 1.25em;
  height: 1.25em;
  border-radius: 50%;
  padding: 0.5rem;
  border: 0.1em solid #8461C9;
  transform: translateY(-0.05em);
}

.radio__input {
  display: flex;
  padding: 0.5rem 0rem;
}

.radio__label{
  line-height: 1.25;
  padding: 0.5rem 0.25rem;
}

.radio span,
.check-boxes label {
  color: #3F3356;
  font-size: 1rem;
  font-weight: 400;
}

input:checked + .radio__control {
    background: radial-gradient(#8461C9 50%, rgba(255, 0, 0, 0) 51%);
  }

.radio:hover input ~ .radio__control {
    background-color: #E5E7FA;
  }

.check {
  display: block;
  position: relative;
  padding-left: 2rem;
  padding-bottom: 1rem;
  cursor: pointer;
  user-select: none;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #C8C8C8;
}

.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0.3rem;
  width: 1.25em;
  height: 1.25em;
  border: 0.1em solid #8461C9;
  transform: translateY(-0.05em);
}

.check:hover input ~ .checkmark {
  background-color: #E5E7FA;
}

.check input:checked ~ .checkmark {
  background:#8461C9;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.check input:checked ~ .checkmark:after {
  display: block;
}

.check .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.form-check textarea {
  width: 100%;
  padd
}

.submit-button {
  padding-bottom: 0;
}

.submit-button input {
  margin-bottom: 0;
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
  font-size: 1rem;
  padding: 0.5rem;
}

input[type=submit] {
  background-image: none;
  background: rgb(132,97,201);
  color: #ffffff;
}

@media screen and (min-width: 320px) {
  
  form {
    max-width: 500px;
  }
}
